@tailwind base;
@tailwind components;
@tailwind utilities;



/* customToast.css */
.custom-toast {
  color: #fea904; /* Change text color */
  background-color: #fea904; /* Change background color */
 
}

.custom-toast .Toastify__toast-icon {
  color: #fea904; /* Change icon color */
 
}

.custom-progress {
  background: #fea904 !important; /* Change progress bar color */
}